<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= __('Email Verification') %></title>
  </head>
  <body>
    <p><%= __('Your OTP is:') %> <strong><%= otp %></strong></p>
    <p><%= __('This OTP will expire in:') %> <strong><%= expirationTime %> minutes</strong></p>
    <p><%= __('Thank you for verifying your email!') %></p>
  </body>
</html>
